
h2 {
  text-align: center;
  color: #9b0b2d;
  text-transform: uppercase;
}

h1 {
  text-align: left;
}

h3 {
  text-align: center;
}


h5 {
    text-align: center;
    text-transform: uppercase;
    color: #4CAF50;}

p {text-align: center;
}
body {
    background-color: rgba(103, 166, 217, 0.623);
    color: blue;
  }