.logo{
  border: 3px solid rgba(0, 87, 158, 0);

}
h2 {
  text-align: center;
  color: rgb(68, 52, 125);
  text-transform: uppercase;
}

h1 {
  text-align: left;
}

h3 {
  text-align: center;
}


h5 {
    text-align: center;
    text-transform: uppercase;
    color: #4CAF50;}

.xxx {text-align: center;
  color:rgb(68, 52, 125)
}
body {
    background-color: rgba(103, 166, 217, 0.623);
    color: rgb(68, 52, 125);
    border: 3px solid rgba(103, 166, 217, 0.623)ss;
  }

 



  }